
html, body {
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  margin: 0px;
}

#indexbody {
  position: relative;
}

#indexh1, #klaireroomh1 {
  text-align: center;
  font-size: 36px;
  margin: 0px;
}

#indexnav, #klaireroomnav {
  text-align: center;
}

#indexfooter, #klaireroomfooter {
  text-align: center;
  margin: 0px;
}

.homepage {
  position: relative;
}

#bg {
  position: absolute;
  z-index: 1;
}

#showme {
  width: 180px;
  height: 50px;
  top: 550px;
  left: 850px;
  position: absolute;
  z-index: 2;
  cursor: pointer;
}

#clairedoor {
  top: 73px;
  left: 400px;
  position: absolute;
  z-index: 2;
  cursor:pointer;
}

#clairedoor:hover {
  box-shadow: 0px 0px 100px #2a3d64;
}

#jandoor {
  top: 73px;
  left: 1300px;
  position: absolute;
  z-index: 2;
  cursor:pointer;
}

#jandoor:hover {
  box-shadow: 0px 0px 100px #2a3d64
}

#klaireroomnav, #klaireroomfooter, #klaireroomh1 {
  color: black;
}

#klaireroomfooter {
  top: 815px;
  left: 870px;
  font-size: 15px;
  position: absolute;
  z-index: 3;
}

#clairediv {
  position: relative;
}

#clairetut {
  position: absolute;
  z-index: 1;
}

#okay {
  top: 610px;
  left: 1200px;
  position: absolute;
  z-index: 2;
  width: 200px;
  cursor: pointer
}

#okay:hover{
  box-shadow: 0px 0px 30px white;
}

#bathroom {
  top: 135px;
  left: 310px;
  position: absolute;
  z-index: 3;
  cursor: pointer;
}

#quilldren {
  position: absolute;
  z-index: 3;
  top: 300px;
  left: 900px;
  cursor: pointer;
}

#melody {
  position: absolute;
  z-index: 3;
  top: 200px;
  left: 1800px;
  cursor: pointer;
}

#wardrobe {
  position: absolute;
  z-index: 3;
  top: 50px;
  cursor: pointer;
}

#sketch {
  position: absolute;
  z-index: 3;
  top: 650px;
  left: 1750px;
  cursor: pointer;
}

#sketch:hover, #quilldren:hover, #wardrobe:hover, #melody:hover, #bathroom:hover {
  box-shadow: 0px 0px 100px white;
}

#exit {
  position: absolute;
  z-index: 3;
  cursor: pointer;
  top: 670px;
  left: 400px;
}

#rd {
  top: 550px;
  left: 400px;
  position: absolute;
  z-index: 4;
}

#rd:hover {
  box-shadow: 0px 0px 50px white;
}

#desc {
  position: absolute;
  z-index: 4;
}

#cgoback {
  position: absolute;
  z-index: 3
}